@model Luftborn.Models.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Edit User";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(() => {
        @if (TempData["errorMsg"] != null)
        {
            @:document.getElementById("editResult").innerHTML = '@TempData["errorMsg"].ToString()';
        }
    });
</script>

<div id="editResult" style="text-align: center; color: white; background-color: red; font-weight:bolder"></div><br />

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <div class="text-center">
        <table id="usersTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.EditorFor(m => m.Name)</td>
                    <td>@Html.EditorFor(m => m.UserName)</td>
                    <td>@Html.EditorFor(m => m.Email)</td>
                    <td>@Html.EditorFor(m => m.Address)</td>
                    <td>@Html.EditorFor(m => m.PhoneNumber)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <input type="submit" value="Save" class="btn btn-success" />
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Cancel" class="btn btn-secondary" onclick='location.href="@Url.Action("Index", "Home")"' />
    </div>
}
